<%- inclue partials/header.ejs %>

<%- inclue partials/main_nav.ejs %>

<div class ="container">
<h1><%= message %></h1>
<h2><%= error.status %></h2>
<pre><%= error.stack %></pre>
</div>

<%- inclue partials/footer.ejs %>

<%- inclue partials/bottom_nav.ejs %>



